target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.classpath
*.prefs
*.jar
*.lst
*.project
*.MF
*./mvn
*.mvn
*target
*/target
*/test-output
*/.settings
*/.idea
*.settings
*.gif
*.ods
*.lck
*.script
*shaded.pom
*.iml


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr